    <div *ngIf="showPost" class="post-content">
        <h3>Post List</h3>
        <button  type='button' class='btn btn-primary'
            (click)="addPost()"><b>Add Post</b></button>

            <div [ngStyle]="{'display':isDisplay}">
                <h3 >{{postTitle}}</h3>        
            <div *ngIf="!viewComments">
                <div *ngIf="isPostForm" class="content-section">
                    <form class="post-form" id="postFormData" [formGroup]="postFormData" >
                        <div class="form-group">
                            <label>Title</label>&nbsp;
                            <input type="text" class="form-control" formControlName="title" id="title"
                                aria-describedby="title" placeholder="Enter Title" autocomplete="disabled">
                        </div>
                        <div class="form-group">
                            <label>Description</label>&nbsp;
                            <textarea class="form-control" formControlName="body" id="body" aria-describedby="body"
                                placeholder="Enter Desc" autocomplete="disabled"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">submit</button>&nbsp;
                            <button type="button" class="close" (click)="close()">Close</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="!isPostForm">
                    <form class="comment-form" [formGroup]="commentsFormData" >
                        
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control" formControlName="body" id="body" aria-describedby="body"
                                placeholder="Enter Comment" autocomplete="disabled"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit()">submit</button>
                            <button type="button" class="close" (click)="close()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
</div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="postList && postList?.length > 0">
                <tr *ngFor="let item of postList">
                    <td>{{item.title}}</td>
                    <td>{{item.body}}</td>
                
                    <td class="svg-icon" *ngIf="item.user_id === this.userData?.id">
                       
                        <svg width="20px" height="20px"
                            viewBox="0 0 122.88 122.88" class="edit-icon" (click)="addComment(item)">
                            <title>Add Comment</title>
                            <path
                                d="M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM88.6,56.82v9.24a4,4,0,0,1-4,4H70V84.62a4,4,0,0,1-4,4H56.82a4,4,0,0,1-4-4V70H38.26a4,4,0,0,1-4-4V56.82a4,4,0,0,1,4-4H52.84V38.26a4,4,0,0,1,4-4h9.24a4,4,0,0,1,4,4V52.84H84.62a4,4,0,0,1,4,4Zm8.83-31.37a50.92,50.92,0,1,0,14.9,36,50.78,50.78,0,0,0-14.9-36Z" />
                        </svg><br>
                        
                        <svg width="20px" height="20px" viewBox="0 0 576 512" class="view-icon"
                            (click)="viewComment(item)" data-toggle="tooltip" title="Some tooltip text!">
                            <path
                                d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z" />
                            <title>View Comment</title>
                        </svg><br>
                        <svg  width="20px" height="20px" viewBox="0 0 448 512" class="remove-icon"
                            (click)="deletePost(item)">
                            <path
                                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" />
                            <title>Delete</title>
                        </svg>
                    </td>
                    <td class="svg-icon" *ngIf="item.user_id !== this.userData?.id">---</td>
                </tr>
            </tbody>
            <tbody *ngIf="!postList || postList?.length == 0">
                <tr>
                    <td colspan="3" class="text-center">No Records Found.</td>
                </tr>
            </tbody>
        </table>
    </div>

      
